<div class="container-fluid w-100 d-flex justify-content-center align-items-center form-wrapper">
    <div class="main-card container px-5 h-50 w-50 rounded">
        <div class="text-center image-wrapper">
            <img src="https://t3.ftcdn.net/jpg/01/12/43/90/360_F_112439022_Sft6cXK9GLnzWjjIkVMj2Lt34RcKUpxm.jpg" alt="sad-image">
        </div>
        <h1 class="text-center text-secondary">{{status}}</h1>
        <h4 class="text-center text-secondary">{{message}}</h4>
    </div>
</div>