<div class="container-fluid w-100 h-75 d-flex justify-content-center align-items-center">
    <div class="main-card container-fluid p-5 h-100 rounded">
        <p class="fs-5 text-center mb-0">Welcome back {{user}}</p>
        <h1 class="text-center mb-5">Dashbord</h1>
        <div class="row h-100">
            <div class="col-4 h-50 ">
                <a href="" class="link-container text-decoration-none">
                    <div class="score-card rounded h-100 w-100 d-flex justify-content-center align-items-center">
                        <span class="btn bg-transparent text-white fs-4 ">Your score</span>
                    </div>
                </a>
            </div>
            <div class="col-4 h-50">
                <a href="" class="link-container text-decoration-none">
                    <div class="timetable-card rounded h-100 w-100 d-flex justify-content-center align-items-center">
                        <span class="btn bg-transparent text-white fs-4 ">Time table</span>
                    </div>
                </a>
            </div>
            <div class="col-4 h-50">
                <a href="https://www.linkedin.com/in/anandakrishnan-h/" class="link-container text-decoration-none">
                    <div class="linkdin-card rounded h-100 w-100 d-flex justify-content-center align-items-center">
                        <span class="btn bg-transparent text-white fs-4 ">Visit LinkedIn</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>