<div class="container-fluid w-100 d-flex justify-content-center align-items-center form-wrapper">
    <div class="main-card container px-5 h-50 w-50 rounded">
        <h1 class="text-center">Login</h1>
        <form action="/api/login/submitted" method="POST" class="d-flex flex-column gap-3 mt-4">
            <div class="form-group mt-1">
                <label for="userName">Username</label>
                <input type="text" class="form-control" id="userName" name="username" required>
            </div>
            <div class="form-group mt-1">
                <label for="password">Password</label>
                <input type="password" class="form-control underline-input" id="password" name="password" required>
            </div>
            <span class="text-danger">{{alertMessage}}</span>
            <button type="submit" class="btn login-btn btn-primary mt-2 fs-5 fw-bold">Login</button>
        </form>
        <p class="mt-2">Dont have account? <a href="/api/signup">Signup</a></p>
            <a href="/api/admin">Admin</a>
    </div>
</div>